{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Book_Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for i in booklist %}
      <tr>
        <td>{{i.id}}</td>
        <td><a href='{%url 'bookdetails' pk=i.id%}'>{{i.book_name}}</td>
        <td><a class = 'btn btn-danger'href='{%url 'delete' pk=i.id%}'>Delete</a>
        <a class = 'btn btn-warning'href='{%url 'edit' pk=i.id%}'>Edit</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}
